<h1>All Articles</h1>

<ul id="articles">
	<% @articles.each do |article|%><!--Not show-->
		<li>
			<%= link_to article.title, article_path(article) %><!--result will show-->
		</li>
	 <% end %>  <!--Not show-->
</ul>
<%= link_to "Create a New Article", new_article_path, class: "new_article" %>